doctype xml
tincan(xmlns="http://projecttincan.com/tincan.xsd")
	activities
		activity(id=activityId type="http://adlnet.gov/expapi/activities/course")
			name #{activityName}
			description(lang="en-US") #{activityDesc}
			launch(lang="en-us") index.html
